* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #00BFA6;
    padding: 20px;
}
h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-weight: medium;
    color: #00BFA6;
    padding: 20px;
    text-align: center;
}
h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #00BFA6;
    padding: 20px;
}
p {
    font-family: 'orbit';
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    color: #741EFC;
}
body {
    background-color: #D4E6F1;
}
.btn {
    display: inline-block;
    background-color: #1e499c;
    color: #f0c0ff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease;
    margin-top: 10px;
}

.btn:hover {
    background-color: #15376d;
    color: white;
}
