.article__img-prothèses {
    width: 100%;
    border-radius: -20px;                           
    object-fit: cover;
}
.Bandeannonce-video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
}
.audio__technologic {
    margin: 50px;
}