[data-theme="Mode 1"] {
    --color: #ddc9fd;
    --color-2: #91c4b0;
    --color-3: #91b1bd;
    --color-4: #264c98;
    --color-5: #00bfa6;
    --color-6: #d4e6f1;
    --color-7: #000000;
    --color-8: #ffffff;
}