.article__text {
    margin-top: 200px;
    
}
.article__img {
    display: flex;
        /* Active Flexbox */
        border-radius: 20px;
        /* Coins arrondis */
        max-width: 200px;
        margin: 0 auto;
        gap: 20px;
        /* Espacement entre texte et image */
        margin-top: -350px;
}
.btn {
    display: flex;
    margin-top: -150px;
    justify-content: center;
    margin: auto;
    
    align-items: center;
;
}