.carousel-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #e6e6fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background: #DDC9FD;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-nav button {
    background: rgba(0, 0, 0, 0.5);
    color: #DDC9FD;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 50%;
}
