.citation {
    background-color: #518baf;
    color: #4a4a4a;
    font-style: italic;
    padding:20px;
    border-left: 5px solid #7a9fb8;
    margin: 20px;
    font-family: 'Orbit';
    line-height: 1.6;
    text-align: justify;
    border-radius: 5px;
}
