.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero__img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.hero__title {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    margin: 0;
    z-index: 5;
}

.hero__text {
    position: absolute;
    top: 245px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 0;
    z-index: 5;
}
